/* You can add global styles to this file, and also import other style files */
body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, SimSun, Heiti, sans-serif; font-size: 18px;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

p {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    line-height: 1.6;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;

    width: 100%;
    line-height: 150%;
    color: #666666;

    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;

    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    border-bottom: 2px LightGrey solid;
    font-size: 1em;
    padding: 0px 0px 10px 5px;
    color: grey;
    margin-bottom: 30px;
}

.box {
    margin-top: 20px;
    padding: 2% 8% 5% 8%;
    border: 1px solid LightGrey;
}

.blockquo {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
    font-style: italic;
}