<p-side-navbar></p-side-navbar>
<div class="container">
    <md-toolbar style="font-family: STFangSong;">
        <span (click)="openNav()" style="cursor: pointer;">&#9776;</span>
        <span class="spacer"></span>
        沛然作雨 Blog
    </md-toolbar>
    <md-card style="font-family: STFangSong;">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title><a href="#">ni想跟这个世界谈谈</a></md-card-title>
        <md-card-subtitle>在 zoo 的十字路口，我又一次面临的选择</md-card-subtitle>
    </md-card-header>
    </md-card>

    <md-card style="font-family: STFangSong;">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>我想跟这个世界谈谈</md-card-title>
        <md-card-subtitle>在 zoo 的十字路口，我又一次面临的选择</md-card-subtitle>
    </md-card-header>
    </md-card>

    <md-card style="font-family: STFangSong;">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>我想跟这个世界谈谈</md-card-title>
        <md-card-subtitle>在 zoo 的十字路口，我又一次面临的选择</md-card-subtitle>
    </md-card-header>
    </md-card>

    <md-card style="font-family: STFangSong;">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>我想跟这个世界谈谈</md-card-title>
        <md-card-subtitle>在 zoo 的十字路口，我又一次面临的选择</md-card-subtitle>
    </md-card-header>
    </md-card>
</div>

