<div class="container-flud">
    <div class="row">
            <p-side-navbar></p-side-navbar>
            <md-card class="example-card" style="font-family: STFangSong;">
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>
                <md-card-title>我想跟这个世界谈谈</md-card-title>
                <md-card-subtitle>在 zoo 的十字路口，我又一次面临的选择</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/img/IMG_2360.jpg">
            <md-card-content>
                <p>
                如果说这是我的宿命，那么我愿意拼劲一切来换得一个心安理得。对真理的向往让我无所畏惧，我想要的，是自我的成长，
                是改变这个世界，哪怕一点点。
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
            </md-card>
    </div>
</div>



<div class="container">

</div>